<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cyklodev.AIMSICD"
          android:versionCode="25"
          android:versionName="1.0.0">


    <application
            android:allowBackup="false"
            android:icon="@drawable/sense_danger"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <activity
                android:name=".AIMSICD"
                android:exported="true"
                android:label="@string/app_name_short"
                android:configChanges="keyboardHidden|screenLayout|screenSize|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.DELETE"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".activities.MapViewerOsmDroid"
                android:exported="true"
                android:label="@string/map_view"
                android:parentActivityName=".AIMSICD"
                android:configChanges="keyboardHidden|screenLayout|screenSize|orientation">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".AIMSICD"/>
        </activity>

        <activity
                android:name=".activities.PrefActivity"
                android:exported="true"
                android:icon="@drawable/ic_action_settings"
                android:label="@string/preferences"
                android:parentActivityName=".AIMSICD"
                android:configChanges="keyboardHidden|screenLayout|screenSize|orientation">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.OpenCellIdActivity"
            android:icon="@drawable/ic_action_settings"
            android:label="@string/title_ocid_key"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:parentActivityName=".activities.PrefActivity"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation">
        </activity>

        <activity
            android:name=".activities.DebugLogs"
            android:icon="@drawable/ic_action_settings"
            android:label="@string/title_debug_logs"
            android:parentActivityName=".AIMSICD"
            android:configChanges="keyboardHidden|screenLayout|screenSize|orientation">
        </activity>

        <activity
                android:name=".activities.MapPrefActivity"
                android:exported="true"
                android:icon="@drawable/ic_action_settings"
                android:label="@string/preferences"
                android:parentActivityName=".AIMSICD">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.AimsicdService"
            android:enabled="true"
            android:exported="false">
        </service>

        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <!-- We may need to remove the android:permission line in order NOT
             to block other (system?) apps who doesn't have or use this permission.  -->
        <receiver android:name=".receiver.SmsReceiver"
                  android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <activity android:name=".activities.CreditsRollActivity"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="portrait"> </activity>

        <activity
            android:name=".activities.CustomPopUp"
            android:label="@string/title_activity_about_pop_up"
            android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>
